// |--------------------------------------------------------------------------
// | Designs
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field--name-field-designs
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin field-designs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.field--name-field-designs {
  padding: $grid-gutter-width 0;

  max-width: 100%;
  overflow: auto;

  text-align: center;

  img {
    margin: auto;

    border: 1px solid $border-color;

    box-shadow: 0 20px 40px 0 rgba(48, 55, 39, 0.05);
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
