<!-- Begin - wrapper -->
<main class="layout__wrapper">

    {# Main #}
    {% block main %}
        <!-- Begin - content -->
        <div class="layout__content" role="document">
            <div class="container-fluid">

                {# Highlighted #}
                {% if page.highlighted %}
                    {% block highlighted %}
                        <div class="highlighted">
                            {{ page.highlighted }}
                        </div>
                    {% endblock %}
                {% endif %}

                {# Help #}
                {% if page.help %}
                    {% block help %}
                        {{ page.help }}
                    {% endblock %}
                {% endif %}

                {# Content #}
                {% block content %}
                    <!-- Begin - content -->
                    <a id="main-content"></a>

                    {{ page.content }}
                    <!-- End - content -->
                {% endblock %}

            </div>
        </div>
        <!-- End - content -->
    {% endblock %}

</main>
<!-- End - wrapper -->
